body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#story-box {
    position: absolute;
    background-color: white;
    color: black;
    z-index: 1000002;
    display: flex;
    flex-direction: column;

    left: 0;
    right: 0;
    bottom: -50vh;
    height: 50vh;
}

#story-header {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    padding: 0 32px;
}

#story-content-container {
    overflow: auto;
    flex: 1;
    padding: 32px;
    padding-top: 0;
}

#story-content p {
    text-align: justify;
}

#story-content h2 a, #story-content h1 a {
    color: black;
    font-style: normal;
}

.story-image {
    width: 90%;
    max-width: 50vw;
    margin: 2em auto;
}

.story-image img {
    width: 100%;
}

.story-image-caption {
    color: #aaaaaa;
    font-style: italic;
    margin-top: 16px;
}

#map-header {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: #1359c9;
    z-index: 1000000;
    opacity: 1;
    display: flex;

    -webkit-transition: background-color 0.5s, min-height 0.5s;
    -moz-transition: background-color 0.5s, min-height 0.5s;
    transition: background-color 0.5s, min-height 0.5s;
}

#menu-navbar {
    display: none;
}

#map-header-title {
    margin: 0 auto;
    text-align: center;
    align-self: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.leaflet-container, .leaflet-interactive {
    cursor: crosshair;
}

#map-info {
    background-color: rgba(19, 89, 201, 0.75);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40vh;
    height: 40vh;
    overflow: auto;
    z-index: 1000004;
}

#map-legend {
    display: none;
    position: absolute;
    right: 32px;
    bottom: 32px;
    max-height: 30vh;
    max-width: 30vw;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.75);
    padding: 16px;
    overflow: auto;
    font-size: 0.9em;
}

#map-legend table {
    border-collapse: separate;
    border-spacing: 8px;
}

#map-legend td {
    min-width: 25px;
}

#map-legend h3 {
    font-size: 1em;
}

@media (min-width: 1000px) {
    #map-info {
        top: 0;
        right: -25vw;
        bottom: 0;
        left: auto;
        width: 25vw;
        height: auto;
        overflow: auto;

    }

    #map-legend {
        display: block;
    }

    #story-box {
        top: 0;
        left: -33vw;
        bottom: 0;
        width: 33vw;
        height: 100%;
    }
}

#map-info-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#info-body {
    flex: 1;
    width: 100%;
    padding: 36px;
    color: white;
}

#parcel-info {
    margin: 36px 0;
    width: 100%;
    border-collapse: collapse;
}

#parcel-info td {
    padding: 8px;
    border: 1px solid white;
}

#parcel-info .parcel-info-label {
    font-weight: bold;
}

#parcel-info-container {
    display: none;
    margin-bottom: 16px;
}

#parcel-info-loading {
    display: none;
    margin: 36px auto;
}

.nav-link, .action-link {
    cursor: pointer;
}

#navbarSupportedContent {
    position: absolute;
    width: 10vw;
    min-width: 200px;
    background: white;
    padding: 16px;
    margin-top: 16px;
}